.footer {
	margin-top : 45px;
	padding : 35px 0 36px;
	border-top : 1px solid #E5E5E5;
}
.help-inline {
	text-transform : lowercase;
}
pre code {
	background : transparent !important;
}
ol.howto {
	list-style : none;
	margin : 0;
}
ol.howto li h2:before {
	content : counter(counter);
	opacity : 0.4;
	font-weight : bold;
	float : left;
	clear : both;
	font-size : 3em;
	padding : .2em .2em .2em 0;
	
}
ol.howto li {
	display : list-item;
	counter-increment : counter;
}